<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Hakkımda Düzenleme</h4>
            <p class="card-description">  </p>
            <form class="forms-sample">
                <div class="form-group">
                    <label>ID</label>
                    <p class="form-control-static">@Model.aboutID</p>
                   
                </div>

                <br />
                <button class="btn btn-outline-success">Güncelle</button>
            </form>
        </div>
    </div>
</div>