@model varlikKatmani.Concrete.service
@{
    ViewData["Title"] = "AddService";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Hizmet Ekleme    </h3>
</div>
<br />
@using (Html.BeginForm("AddService", "Service", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Hizmet Ekleme</h4>
                <p class="card-description">  </p>
                <form class="forms-sample">


                    @Html.Label("Hizmet Adı")
                    @Html.TextBoxFor(x => x.title, new { @class = "form-control" })


                    <br />
                    @Html.Label("Resim Adresi")
                    @Html.TextBoxFor(x => x.imageURL, new { @class = "form-control" })



                    <br />
                    <button class="btn btn-success">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
}


