@model varlikKatmani.Concrete.writerMessage
@{
    ViewData["Title"] = "SendAdminMessage";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

@using (Html.BeginForm("SendAdminMessage", "AdminMessage", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Mesaj Yolla</h4>
                <p class="card-description">  </p>
                <form class="forms-sample">
                    <label>Mail</label>
                    @Html.TextAreaFor(x => x.reciever, new { @class = "form-control" })
                    <label>Başlık</label>
                    @Html.TextAreaFor(x => x.subject, new { @class = "form-control" })
                    <label>İçerik</label>
                    @Html.TextAreaFor(x => x.messageContent,6,3 ,new { @class = "form-control" })
                    
                    <br />
                    <button class="btn btn-outline-success">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
}

