<ul class="nav">
	<li class="nav-item profile">
		<div class="profile-desc">
			<div class="profile-pic">
				<div class="count-indicator">
					@await Component.InvokeAsync("UserImageAdminList")
				</div>
				<div class="profile-name">
					<h5 class="mb-0 font-weight-normal">Admin</h5>
					<span>Gold Member</span>
				</div>
			</div>
			<a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
			<div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
				<a href="/Writer/Profile/Index" class="dropdown-item preview-item">
					<div class="preview-thumbnail">
						<div class="preview-icon bg-dark rounded-circle">
							<i class="mdi mdi-settings text-primary"></i>
						</div>
					</div>
					
					<div class="preview-item-content">
						<p class="preview-subject ellipsis mb-1 text-small">Hesap ayarları</p>
					</div>
					
				</a>
				<div class="dropdown-divider"></div>
				<a href="/Writer/Profile/Index" class="dropdown-item preview-item">
					<div class="preview-thumbnail">
						<div class="preview-icon bg-dark rounded-circle">
							<i class="mdi mdi-onepassword  text-info"></i>
						</div>
					</div>
					<div class="preview-item-content">
						<p class="preview-subject ellipsis mb-1 text-small">Şifreni değiştir</p>
					</div>
				</a>
				<div class="dropdown-divider"></div>
				<a href="/ToDoList/Index" class="dropdown-item preview-item">
					<div class="preview-thumbnail">
						<div class="preview-icon bg-dark rounded-circle">
							<i class="mdi mdi-calendar-today text-success"></i>
						</div>
					</div>
					<div class="preview-item-content">
						<p class="preview-subject ellipsis mb-1 text-small">Yapılacaklar listesi</p>
					</div>
				</a>
			</div>
		</div>
	</li>
	<li class="nav-item nav-category">
		<span class="nav-link">Navigasyon</span>
	</li>
	<li class="nav-item menu-items">
		<a class="nav-link" asp-controller="Dashboard" asp-action="Index">
			<span class="menu-icon">
				<i class="mdi mdi-speedometer"></i>
			</span>
			<span class="menu-title">Dashboard</span>
		</a>
	</li>
	<li class="nav-item menu-items">
		<a class="nav-link" asp-controller="Skill" asp-action="Index">
			<span class="menu-icon">
				<i class="mdi mdi-laptop"></i>
			</span>
			<span class="menu-title">Yetenekler</span>
		
		</a>
		@* <div class="collapse" id="ui-basic">
			<ul class="nav flex-column sub-menu">
				<li class="nav-item"> <a class="nav-link" href="/Skill/Index">Buttons</a></li>
				<li class="nav-item"> <a class="nav-link" href="/Skill/Index">Dropdowns</a></li>
				<li class="nav-item"> <a class="nav-link" href="/Skill/Index">Typography</a></li>
			</ul>
		</div> *@
	</li>
	<li class="nav-item menu-items">
		<a class="nav-link" asp-controller="Experience" asp-action="Index">
			<span class="menu-icon">
				<i class="mdi mdi-playlist-play"></i>
			</span>
			<span class="menu-title">Deneyimler</span>
		</a>
	</li>
	<li class="nav-item menu-items">
		<a class="nav-link" asp-controller="Default" asp-action="Index">
			<span class="menu-icon">
				<i class="mdi mdi-table-large"></i>
			</span>
			<span class="menu-title">Siteye Git</span>
		</a>
	</li>
	<li class="nav-item menu-items">
		<a class="nav-link" asp-controller="SocialMedia" asp-action="Index">
			<span class="menu-icon">
				<i class="mdi mdi-chart-bar"></i>
			</span>
			<span class="menu-title">Sosyal Medya</span>
		</a>
	</li>
	<li class="nav-item menu-items">
		<a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
			<span class="menu-icon">
				<i class="mdi mdi-security"></i>
			</span>
			<span class="menu-title">Admin Mesajları</span>
			<i class="menu-arrow"></i>
		</a>
		<div class="collapse" id="auth">
			<ul class="nav flex-column sub-menu">
				<li class="nav-item"> <a class="nav-link" href="/AdminMessage/RecieverMessageList"> Gelen Mesajlar </a></li>
				<li class="nav-item"> <a class="nav-link" href="/AdminMessage/SenderMessageList"> Giden Mesajlar </a></li>
				<li class="nav-item"> <a class="nav-link" href="/AdminMessage/SendAdminMessage"> Mesaj Yolla </a></li>

			</ul>
		</div>
	</li>
	<li class="nav-item menu-items">
		<a class="nav-link" asp-controller="Service" asp-action="Index">
			<span class="menu-icon">
				<i class="mdi mdi-contacts"></i>
			</span>
			<span class="menu-title">Hizmetler</span>
		</a>
	</li>
	
	<li class="nav-item menu-items">
		<a class="nav-link" href="http://www.bootstrapdash.com/demo/corona-free/jquery/documentation/documentation.html">
			<span class="menu-icon">
				<i class="mdi mdi-file-document-box"></i>
			</span>
			<span class="menu-title">Dökümanlar</span>
		</a>
	</li>
	<li class="nav-item menu-items">
		<a class="nav-link" asp-controller="Portfolio" asp-action="Index">
			<span class="menu-icon">
				<i class="mdi mdi-github-circle"></i>	
			</span>
			<span class="menu-title">Projeler</span>
		</a>
	</li>
	<li class="nav-item menu-items">
		<a class="nav-link" asp-controller="Contact" asp-action="Index">
			<span class="menu-icon">
				<i class="mdi mdi-message"></i>
			</span>
			<span class="menu-title">Mesajlar</span>
		</a>
	</li>
	<li class="nav-item menu-items">
		<a class="nav-link" asp-controller="ContactSub" asp-action="Index">
			<span class="menu-icon">
				<i class="mdi mdi-phone"></i>
			</span>
			<span class="menu-title">İletişim</span>
		</a>
	</li>
	<li class="nav-item menu-items">
		<a class="nav-link" asp-controller="About" asp-action="Index">
			<span class="menu-icon">
				<i class="mdi mdi-account"></i>
			</span>
			<span class="menu-title">Hakkımda</span>
		</a>
	</li>
	<li class="nav-item menu-items">
		<a class="nav-link" asp-controller="Testimonial" asp-action="Index">
			<span class="menu-icon">
				<i class="mdi mdi-account-search"></i>
			</span>
			<span class="menu-title">Referanslar</span>
		</a>
	</li>
	<li class="nav-item menu-items ">
		<a class="nav-link" asp-controller="Feature" asp-action="Index">
			<span class="menu-icon">
				<i class="mdi mdi-briefcase"></i>
			</span>
			<span class="menu-title">Öne Çıkanlar</span>
		</a>
	</li>
	<li class="nav-item menu-items ">
		<a class="nav-link" asp-controller="Experience2" asp-action="Index">
			<span class="menu-icon">
				<i class="mdi mdi-contacts"></i>
			</span>
			<span class="menu-title">Deneyim Ajax</span>
		</a>
	</li>
</ul>
<script>
	document.querySelectorAll('a').forEach(link => {
		if (link.href === window.location.href) {
			link.classList.add('active');
		}
	});</script>